#cart-icon {
  position: relative;
}
#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff591c;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  background: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;

}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;

}
p{
  font-size: 16px;
  color: #454545;
  margin: 15px 0 20px 0;

}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;

}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body{
  width: 100%;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}
/* #navbar input[type="search"] {
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 8px 12px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
} */


.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  padding: 8px 16px;
  max-width: 500px;
  width: 100%;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  margin-left: 8px;
}

.search-button:hover {
  color: #333;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;

}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a ;
  transition:  0.3s ease ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar li a:hover,
#navbar li a.active {
  color: #ff591c;
}
#navbar li a.active::after,
 #navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color:#ff591c ;
  position: absolute;
  bottom: -4px;
  left: 20px;

}
#hero{
  background-image: url('imag/tr2.jpeg');
  height: 90vh ;
  width:100% ;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}


#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #ff591c;
}

#hero button{
  background-image: url("imag/button.png");
  background-color: transparent;
  color:#000000;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 160px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  
  
}


#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
 width: 100%;
 margin-bottom: 50px;
 
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px ;
  line-height: 1;
  border-radius: 4px;
  color: #000000;
  background-color: #ff591c;
}
#feature .fe-box:nth-child(2) h6{
background-color: #ff591c;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #ff591c;
  }
#feature .fe-box:nth-child(4) h6{
  background-color: #ff591c;
  }
#feature .fe-box:nth-child(5) h6{
  background-color: #ff591c;
  }
#feature .fe-box:nth-child(6) h6{
  background-color: #ff591c;
  }


#product1{
  text-align: center;
   display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
}


#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  
} 



.pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;                      
  box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.02);
  margin: 15px 0 ;
  transition: 0.2s ease;
  position: relative;
  
  
 } 







/* ستووووووووووووووووووووووووب */

#product1 .pro{
 width: 23%;
 min-width: 250px;
 padding: 10px 12px;
 border: 1px solid #cce7d0;
 border-radius: 25px;
 cursor: pointer;
 box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.02);
 margin: 15px 0 ;
 transition: 0.2s ease;
 position: relative;
 
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.06);
  scale: 1.1 ;
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
  
}


#product1 .pro .des{
 text-align: start;
 padding: 10px 0 ;
}


#product1 .pro .des span{ 
 color: #606063;
 font-size: 12px;
 
}
#product1 .pro .des h5{
  padding-top: 7px;
  color:#1a1a1a ;
  font-size: 14px;

}
#product1 .pro .des i{
   font-size: 12px;
   color:rgba(243, 181, 25) ;
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #fafafa;
  font-weight: 500;
  color: #000000;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 60px;
  

}
#product1 .pro .bag{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #fafafa;
  /* font-weight: 500; */
  color: #000000;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cecfd7;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);
}

#banner h4{
  color: #000000;
  font-size: 16px;
}

#banner h2{
  color: #000000;
  font-size: 30px;
  padding: 10px 0;
}


#banner h2 span{
  color: #ff591c;
 
}
#banner button{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
#banner button:hover{
  background-color: #ff591c ;
  color: #ffffff;
}
#sm-banner {
   display: flex;
   justify-content:space-between;
   /* flex-wrap: wrap; */
}
#sm-banner .banner-box{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(imag/m1.jpeg);
  min-width: 420px;
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

  
}
#sm-banner .banner-box3{
  background-image: url(imag/m2.jpeg);
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#sm-banner .banner-box2{
  background-image: url(imag/bachome.jpg);
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}

#sm-banner h4{
  color:#ff591c ;
  font-size: 20px;
  font-weight: 300;
  
} 

#sm-banner h2{
  color:#ff00b3 ;
  font-size: 28px;
  font-weight: 800;
  
}

#sm-banner span{
  color:#ff591c ;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box button{
color: #ff00b3;
border: #ff591c;
}


#sm-banner .banner-box:hover button{
  background-color: #ff874285;
  border: 1px solid #ff00b3;

}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 78px;


}
#banner3 .banner-box1{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(imag/m4.jpeg);
  min-width: 20%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#banner3 .banner-box2{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(imag/m4.jpeg);
  min-width: 20%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#banner3 .banner-box3{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(imag/m4.jpeg);
  min-width: 20%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#banner3 .banner-box4{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(imag/ma23.jpg);
  min-width: 20%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}

#banner3 .banner-box2{
  background-image: url(imag/m4.jpg);
  padding: 71px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#banner3 .banner-box3{
  background-image: url(imag/m3.jpeg);
  padding: 97px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px 30px  rgba(0, 0, 0, 0.06);

}
#banner3 .banner-box2 h2{
  color: #c27fca;
  font-weight:900 ;
  font-size: 22px;
}
#banner3 .banner-box1 h2{
  color: #fd0087;
  font-weight:900 ;
  font-size: 22px;
}

/* hereeeeeeeeeeeeee */


#banner3 h2{
  color: #ffb700e5;
  font-weight: 900;
  font-size: 22px;

}
#banner3 h3{
  color: #2e2e2ebe;
  font-weight: 800;
  font-size: 15px;

}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image:url("imag/b14.png") ;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #242424 ;
 }
 #newsletter h4{
   font-size: 22px;
   font-weight:700 ;
   color: #fff;
  
 }
 #newsletter p{
   font-size: 14px;
   font-weight:600 ;
   color: #818ea0;
 }
 
 #newsletter p span{
   color: #ff591c;
 }
 #newsletter .form{
  display: flex;
  width:40% ;
  background-color: #fff;
  padding: 0;
  font-size: 14px;
  border: 0 solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 2 ;
  border-bottom-right-radius: 2 ;
 }
 #newsletter input{
 height: 3.125rem;
 padding: 0 1.25em;
 font-size: 14px;
 width: 100%;
 border: 1px solid transparent;
 border-radius: 4px;
 outline: none;
 border-top-right-radius: 0 ;
 border-bottom-right-radius: 0 ;
 }
 #newsletter button{
  background-color: #ff591c;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;

 }/* Footer Styles */
.section-p1 {
  padding: 40px 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

span{
  color: #606063;
 font-size: 12px;
 text-align: left;
 

}
.star{
  font-size: 12px;
  color:rgba(243, 181, 25) ;
}


/* @media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
} */





#banner3 {
  display: flex;
  justify-content: space-between;
  padding: 0 78px;
  overflow: hidden; /* لضمان أن العناصر لا تخرج عن حدود الحاوية */
  position: relative;
}

#banner3 .banner-box1,
#banner3 .banner-box2,
#banner3 .banner-box3,
#banner3 .banner-box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  min-width: 20%;
  height: 70vh;
  transition: transform 0.5s ease; /* إضافة تأثير الانتقال عند التحويل */
  position: relative;
}

#banner3 .banner-box1 {
  background-image: url(imag/m4.jpeg);
}

#banner3 .banner-box2 {
  background-image: url(imag/m4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(imag/m3.jpeg);
}

#banner3 .banner-box4 {
  background-image: url(imag/ma23.jpg);
}

/* تأثير التكبير عند المرور على الصورة */
#banner3 .banner-box1:hover,
#banner3 .banner-box2:hover,
#banner3 .banner-box3:hover,
#banner3 .banner-box4:hover {
  transform: scale(1.1); /* تكبير الصورة عند المرور عليها */
  z-index: 1; /* لضمان أن الصورة تكون فوق العناصر الأخرى */
}

/* إضافة تأثير التمرير السلس عند تحريك الصور داخل الحاوية */
#banner3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#banner3 .banner-box1,
#banner3 .banner-box2,
#banner3 .banner-box3,
#banner3 .banner-box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 60px;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  min-width: 20%;
  height: 70vh;
  transition: transform 0.5s ease;
  position: relative;
  margin: 0 10px; /* مسافة بين العناصر */
}

/* التأثير عند المرور على الصورة */
#banner3 .banner-box1:hover,
#banner3 .banner-box2:hover,
#banner3 .banner-box3:hover,
#banner3 .banner-box4:hover {
  transform: scale(1.1); /* تكبير الصورة عند المرور عليها */
  z-index: 1; /* لضمان أن الصورة تكون فوق العناصر الأخرى */
}

#banner3 h2 {
  color: #ffb700e5;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
}

#banner3 .banner-box1 h2,
#banner3 .banner-box2 h2,
#banner3 .banner-box3 h2,
#banner3 .banner-box4 h2 {
  font-size: 22px;
  font-weight: 900;
}
